body {
  background: rgb(96,104,150);
}

.number {
  font-weight: bolder;
}

.number-div {
  width: 15%;
  padding: 10px 25px;
  margin: 10px;
}

.numbers-div {
  background: #02051E;
  color: white;
  border: 3px solid red;
  padding: 100px;
  border-radius: 7px;
  display: flex;
  margin: 100px 30%;
}

.btn-change-numbers {
  margin: 50px 45% 0;
  padding: 40px;
  background-color: #02051E;
  border: 1px solid red;
  border-radius: 10%;
  color: white;
}